{% block content %}
<h3> - Question 2:</h3>
<h4>Can a string slice expression be used on a list?</h4>
<p> - My Answer: Yes, because the slice expression acts on strings as sequences.
  Therefore, the expression is generic to all sequences, including lists.</p>
<p> - Mark's Answer: Yes. Unlike methods, expressions are generic and apply to
  many types. In this case, the slice expression is really a sequence
  operation - it works on any type of equence obect, inluding strings, lists,
  and tuples. The only difference is that when you slice a list, you get back a
  new list.</p>
{% endblock %}
