{% block content %}
<h3> - Question 7:</h3>
<h4>Why might you use the string module instead of string method calls?</h4>
<p> - My Answer: Maybe if you were using Python 2.1? Otherwise I wouldn't.
  Apparently the module has some other methods that are worth it still existing,
  but I haven't used any of them yet </p>
<p> - Mark's Answer: You should never use the string module instead of string
  object method calls today - it's deprecated, and its calls are removed completely
  from Python 3.0. The only reason for using the string module at all is for its
  other tools, such as predefined constants. You might aso see it appear in what
  is now very old and dusty Python code.</p>
{% endblock %}
