{% block content %}
<h3> - Question 3:</h3>
<h4>How would you convert a character to its ASCII integer code? How would you
convert the other way, from an integer to a character?</h4>
<p> - My Answer: Converting to ASCII code is done through the asc() function I
  believe (though I'm not 100% sure). What I am sure about is that to convert
  ASCII integer code to its character, you use the chr() function.</p>
<p> - Mark's Answer: The built in ord(S) function converts from a one-character
  string to an integer character code; chr(I) converts from the integer code back
  to a string. </p>
{% endblock %}
