{% block content %}
<h3> - Question 6:</h3>
<h4>How can you truncate and round a floating-point number?</h4>
<p> - My Answer: By importing the math module, trunc(x) will truncate the number,
  and round(x) will round it (the latter is built in). Truncate just drops the
  numbers after the decimal, while round aderes to the mathematical operation </p>
<p> - Mark's Answer: The int(N) and math.trunc(N) functions truncate, and the
  round(N, digits) function rounds. We can also compute the floor with
  math.floor(N) and round for displat with string formatting operations.</p>
{% endblock %}
