{% block content %}
<h3> - Question 8:</h3>
<h4>How would you display an integer in octal, hexadecimal, or binary notation?</h4>
<p> - My Answer: Okay. You would use leading characters in each numbers. They are:<br/>
  - 0b for Binary, or base 2 (eg 0b1010 == 10)<br/>
  - 0o for Octal, or base 8 (eg 0o123 == 83)<br/>
  - 0x for hexidecimal, or base 16 (eg 0xFF == 255)</p>
<p> - Mark's Answer: The oct(I) and hex(I) buit in functions return the octal
  and hexadecimal string forms for an integer. The bin(I) call also returns a
  number's binary digits string in Python 2.6 an 3.0. The % string formatting
  expression and format string methord also provide targets for some such
  conversions.</p>
<p>      Note: Yeah, I got this one a bit wrong. Or confused at least. </p>
{% endblock %}
