{% block content %}
<h3> - Question 4:</h3>
<h4>What tools can you use to find a number's square root, as well as its square?</h4>
<p> - My Answer: To square a number, you canhard code the multiplication
  (eg 3 * 3) or you can use the exponent (eg 3 ** 2). To get the square root,
  you can import math and use the sqrt() function. alternatively, you can raise
  the variable to a half (eg 3 ** .5) which is mathematically equivalent. There
  was another way Mark mentioned which I forget, but I remember that it was
  basically a duplication of the latter of those I mentioned.</p>
<p> - Mark's Answer: Functions for obtaining the square root, as well as pi,
  tangents, and more, are available in the imported math module. To find a number's
  square root, import math and call math.sqrt(N). To get a number's square, use
  either the exponent expression X ** 2 or the build-in function pow(X, 2). Either
  of these last two can also compute the square root when given a power of 0.5
  (eg, X ** .5).
{% endblock %}
