{% block content %}
<h3> - Question 7:</h3>
<h4>How can you convert an integer to a floating-point number?</h4>
<p> - My Answer: The float(N) function will do it, as will any operation that
  includes a floating point number. For example, you could simply multiply by 1.0</p>
<p> - Mark's Answer:The float(I) function converst an integer to a floating point;
  mixing an integer with a floating point within an expression will result in a
  conversion as well. In some sense, Python 3.0 / division converts too - it always
  returns a floatin-point result that includes the remainder, even if both operands
  are integers</p>
{% endblock %}
