{% block content %}
<h3> - Question 5:</h3>
<h4>What is the type of the result of the expression 1 + 2.0 + 3?</h4>
<p> - My Answer: The answer would be 6.0, and the type a floating-point number.
  Python will automatically convert types up to the most complex before running
  the math, and output that more complex type, in this case, a floating point.</p>
<p> - Mark's Answer: The result will be a floating point number: the integers are
  converted up to floatin point, the most complex type in the expression, and
  floating point math is use to evaluate it.</p>
{% endblock %}
