{% block content %}
<h3> - Question 9:</h3>
<h4>How might you convert an octal, hexadecimal, or binary string to a plain integer?</h4>
<p> - My Answer: By using the int(I) built-in function I would think. That seems
  like too short an answer at this point...</p>
<p> - Mark's Answer: The int(S, base) function can be used to convert from octal
  and hexadecimal strings to normal integers (pass in 8, 16, or 2 for the base).
  The eval(S) function can be used for the purpose too, but it's more expensive
  to run and can have security issues. Note that integers are always stored in
  binary in computer memory; these are just display string format conversions.</p>
{% endblock %}
