{% extends "Chapter5/Chapter5.html" %}

{% block content %}
    <h1>Chapter 5 Questions and Answers</h1>

{% include "Chapter5/includes/Ch5Q1.html" %}
{% include "Chapter5/includes/Ch5Q2.html" %}
{% include "Chapter5/includes/Ch5Q3.html" %}
{% include "Chapter5/includes/Ch5Q4.html" %}
{% include "Chapter5/includes/Ch5Q5.html" %}
{% include "Chapter5/includes/Ch5Q6.html" %}
{% include "Chapter5/includes/Ch5Q7.html" %}
{% include "Chapter5/includes/Ch5Q8.html" %}
{% include "Chapter5/includes/Ch5Q9.html" %}

{% endblock %}
