{% block content %}
<h3> - Question 4:</h3>
<h4> What does 'sequence' mean, and which three types fall into that category?</h4>
<p> - My Answer: A sequence is an objec that consists of ordered and indexed items.
  The three cores types that are sequences are lists, strings and tuples. Yeah. </p>
<p> - Mark's Answer: A sequence is a positionally ordered collection of objexts.
  Strings lists and tuples are all sequences in Python. They share comon sequence
  operations, such as indexing, cancatenation, and slicing, but also have
  type-specific method calls. </p>
{% endblock %}
