{% block content %}
<h3> - Question 2:</h3>
<h4>Why are they called 'core' data types?</h4>
<p> - My Answer: These objects are the data type included with Python. Technically
  a user can build any kind of data type or object in a class, but even then
  these basic data types are the building blocks of more complex objects. Also
  they're generally build better, because your code probably suck. I know mine does.</p>
<p> - Mark's Answer: They are known as "core" types because they are part of
  Python language itself and are always available; to create ther objects you
  generally must call functions in impored modules. Most of the core types have
  specific syntax for generating the objects. 'spam', for example, is an
  expression that makes a string and determines the set of perations that can
  be applied to it. Because of thiss, core tes are hardwired into Python's
  syntax. In contrast, you must call the built in open function to create a
  file object.</p>
{% endblock %}
