{% block content %}
<h3> - Question 5:</h3>
<h4>What does "maping" mean, and which core type is a mapping?</h4>
<p> - My Answer: A mapping is an object type that associates one variable to
  another for later retrieval. The dictionary is a mapping object. </p>
<p> - Mark's Answer: The term "mapping" denotes an object that maps keys
  to assicaiated vlues. Python's dictionary is the only mapping type in
  the cre type set. Mappings do not maintain any left-to-right positional
  ordering; they support access to data stored by key, plus type-specific
  method calls. </p>
{% endblock %}
