{% extends "homepage/basic.html" %}

{% block title %}
  Books
{% endblock %}

{% block headline %}
  Books, and my Notes
{% endblock %}



{% block content %}
  <p>As part of my audacious learning to code project, I've been reading a whole
    lot of books on the subject, on coding an otherwise. For a list of learning resources I've used and recommend,
    head to my <a href='/resources'>resources page</a>. On this page I've included all my notes
    to each book, which I'll update I as I continue reading. They're a bit more in depth than the
    resources page, but you might find something useful.</p>

  <h4><a href='/Learning_Python'>Learning Python, Mark Lutz.</a></h4>
    <p>The first really in depth text book I've included on this site. I didn't take notes
      so much as answered the questions as at the end of each chapter, which summarise what
      was included. I've also included both my answer and th correct answers.</p>
{% endblock %}
