{% block content %}
<h3>Learn Code The Hard Way</h3>
<p>
  He's a controversial guy, but Zed Shaw is a good teacher. He's written a series
  of books under the 'Learn Code The Hard Way' banner, and they're pretty good.
  I started with the Python book (Learn Python The Hard Way) and it was a really
  good introduction to both Python and programmin in general. It's also free, although
  some of his otherbook he charges for. He doesn't just teach the language, he
  actually teaches programming too, so it's an awsome place to start as a beginner.
  I'm currently part way through one of his newer books, Learn SQL The Hard Way,
  which seems pretty good too. Highly recommended.</p>
  <a href="https://learncodethehardway.org/" target="_blank">Learn Code The Hard Way</a>
{% endblock %}
