{% block content %}
<h3>Learning Python, Mark Lutz/O'Reilly</h3>
<p>After finishing Learn Python The Hard Way, I decided to jump deeper into the
  program with a comprehensive text book. As I write this I'm only 10 chapters in,
  and I've been posting my answers to the questions in the back of each chapter here.
  It's a really in depth read, if I hadn't finished Zed's book first I would have had
  a really hard time getting through it I think, but even Zed says that's what his book
  if for, to get you ready for heavier learning. It is still a fun book, lots of Monty
  Python jokes and such, but definitely not for the complete beginner.</p>
  <a href="http://shop.oreilly.com/product/0636920028154.do" target="_blank">Learning Python - Mark Lutz</a>
{% endblock %}
