{% block content %}
<h3> - Question 2:</h3>
<h4>Consider these three statements: <br/>
A = ["spam"]<br/>
B = A<br/>
B = "shrubbery"<br/>
Do they change the value printed for A?</h4>
<p> - My Answer: Yes. In this case A points to a one item list with 'spam' as
  it's only item. B is then also set to point to the same object. Using B, the
  first/only item is changed to 'shubbery'. As a list is a mutable object it is
  changed in place. A still points to the original object, but that object has
  been altered in place now</p>
<p> - Mark's Answer: Yes: A now rings as ['shrubbery']. Technically we haven't
  really changed either A or B, intead weve changed part of the object they both
  reference(point to) by overwriting that object in place through the variable B.
  Beause A refrences the same object as B, the update is reflected in A as well.</p>
{% endblock %}
