{% block content %}
<h3>Chapter 5 - Numeric Types</h3>

  <h4>1: What is the value of the expression 2 * (3 + 4) in Python?</h4>
    <p> - My Answer: 14. Because expressions in parentheses are evaluated first.</p>
    <p> - Mark's Answer: The value will be 14, the result of 2 * 7, because the
      parentheses force the addition to happen before the multiplication.</p>

  <h4>2: What is the value of the expression 2 * 3 + 4 in Python?</h4>
    <p> - My Answer: 10. Because multiplication is higher than addition in order of
      operations.</p>
    <p> - Mark's Answer: The value will be 10, the result of 6 + 4. Python's operator
      precedence rules are applied in the absence of parentheses, and multiplication
      has higher precedence than (ie it happens before) addition.</p>

  <h4>3: What is the value of the expression 2 + 3 * 4 in Python?</h4>
    <p> - My Answer: 14. Same reason as for Q2.</p>
    <p> - Mark's Answer: This expression yields 14, the result of 2 + 12, for the
      same precendence reasons as in the prior question.</p>

  <h4>4: What tools can you use to find a number's square root, as well as its square?</h4>
    <p> - My Answer: To square a number, you canhard code the multiplication
      (eg 3 * 3) or you can use the exponent (eg 3 ** 2). To get the square root,
      you can import math and use the sqrt() function. alternatively, you can raise
      the variable to a half (eg 3 ** .5) which is mathematically equivalent. There
      was another way Mark mentioned which I forget, but I remember that it was
      basically a duplication of the latter of those I mentioned.</p>
    <p> - Mark's Answer: Functions for obtaining the square root, as well as pi,
      tangents, and more, are available in the imported math module. To find a number's
      square root, import math and call math.sqrt(N). To get a number's square, use
      either the exponent expression X ** 2 or the build-in function pow(X, 2). Either
      of these last two can also compute the square root when given a power of 0.5
      (eg, X ** .5).

  <h4>5: What is the type of the result of the expression 1 + 2.0 + 3?</h4>
    <p> - My Answer: The answer would be 6.0, and the type a floating-point number.
      Python will automatically convert types up to the most complex before running
      the math, and output that more complex type, in this case, a floating point.</p>
    <p> - Mark's Answer: The result will be a floating point number: the integers are
      converted up to floatin point, the most complex type in the expression, and
      floating point math is use to evaluate it.</p>

  <h4>6: How can you truncate and round a floating-point number?</h4>
    <p> - My Answer: By importing the math module, trunc(x) will truncate the number,
      and round(x) will round it (the latter is built in). Truncate just drops the
      numbers after the decimal, while round aderes to the mathematical operation </p>
    <p> - Mark's Answer: The int(N) and math.trunc(N) functions truncate, and the
      round(N, digits) function rounds. We can also compute the floor with
      math.floor(N) and round for displat with string formatting operations.</p>

  <h4>7: How can you convert an integer to a floating-point number?</h4>
    <p> - My Answer: The float(N) function will do it, as will any operation that
      includes a floating point number. For example, you could simply multiply by 1.0</p>
    <p> - Mark's Answer:The float(I) function converst an integer to a floating point;
      mixing an integer with a floating point within an expression will result in a
      conversion as well. In some sense, Python 3.0 / division converts too - it always
      returns a floatin-point result that includes the remainder, even if both operands
      are integers</p>

  <h4>8: How would you display an integer in octal, hexadecimal, or binary notation?</h4>
    <p> - My Answer: Okay. You would use leading characters in each numbers. They are:<br/>
      - 0b for Binary, or base 2 (eg 0b1010 == 10)<br/>
      - 0o for Octal, or base 8 (eg 0o123 == 83)<br/>
      - 0x for hexidecimal, or base 16 (eg 0xFF == 255)</p>
    <p> - Mark's Answer: The oct(I) and hex(I) buit in functions return the octal
      and hexadecimal string forms for an integer. The bin(I) call also returns a
      number's binary digits string in Python 2.6 an 3.0. The % string formatting
      expression and format string methord also provide targets for some such
      conversions.</p>
    <p>      Note: Yeah, I got this one a bit wrong. Or confused at least. </p>

  <h4>9: How might you convert an octal, hexadecimal, or binary string to a plain integer?</h4>
    <p> - My Answer: By using the int(I) built-in function I would think. That seems
      like too short an answer at this point...</p>
    <p> - Mark's Answer: The int(S, base) function can be used to convert from octal
      and hexadecimal strings to normal integers (pass in 8, 16, or 2 for the base).
      The eval(S) function can be used for the purpose too, but it's more expensive
      to run and can have security issues. Note that integers are always stored in
      binary in computer memory; these are just display string format conversions.</p>

{% endblock %}
