{% block content %}

<h3>Chapter 8 - Lists and Dictionaries</h3>

  <h4>1: Name two ways to build a list containing five integer zeros.</h4>
    <p> - My Answer: 1. By constructing it with it's literal
      <br/> >>> L = [0, 0, 0, 0, 0]
      <br/>2. By building a for loop
      <br/> >>> L = []
      <br/>>>>for x in range(1, 6):
      <br/>L.append(0)</p>
    <p> - Mark's Answer: A literal expressions like [0,0,0,0,0] and a repetition
      expression like [0] * 5 will each create a list of five zeros. In practice,
      you might also build one up with a loop that starts with an empty list and
      appends 0 to it in each iteration, with L.append(0). A list comprehension
      ([0for i in range(5)]) could work here too, but this is more than you need to
      do for this answer.</p>

  <h4>2: Name two ways to build a dictionary with two keys, 'a' and ;b;, each having
    an associated value of 0.</h4>
  <p> - My Answer: The literal works >>> D = {'a': 0, 'b': 0} as does a from keys
    method. eg >>> dict.fromkeys (['a', 'b'], 0)</p>
  <p> - Mark's Answer: A literal expression such as {'a': 0, 'b': 0} or a series of
    assignments like D = {}, D['a'] = 0, and D['b'] = 0 would create the desired
    dictionary. You can also use the newer and simpler-to-code dict(a=0, b=0)
    keyword orm, or the more flexible dict([('a',0), ('b', 0)]) key/value sequences
    from. Or, because all the values are the same, you can use the secial form
    dict.fromkeys('ab', 0). In 3.X and 2.7, you can also use a dictionary
    compreshension: {k:0 for k in 'ab'}, though again this may be overkill here.</p>

  <h4>3: Name four operations that change a list object in place.</h4>
    <p> - My Answer: A simple assignment by index (list[5] = X), the slice method
      (list[x:y]), pop (list.pop(-1)) and append (list.append('spam')) will all do
      that. </p>
    <p> - Mark's Answer: The append and extend methods grow a list in place, the sort
      and reverse methods order and reverse lists, the insert method inserts an item
      at an offset, the remove and pop methods delete from a list by value and by
      position, the del statement deletes an item or slice, and index and slice
      assignment statements replace an item or entire section. Pick any four of
      these for the quiz.</p>


  <h4>4: Name four operations that change a dictionary object in place.</h4>
    <p> - My Answer: A straight assingment (dict['keyA'] = 'valueA'), delete
      (del dict['keyX']), clear (dict.clear()) pop (dict.pop('value'))</p>
    <p> - Mark's Answer: Dictionaries are primarily changed by assignment to a new
      or existing key, which creates or changes the key's entry in the table. Also
      the del statement deletes a key's entry, the dictionary update method merges
      one dictionary into another in place, and the D.pop(key) removes a key and
      returns the value it had. Dictionaries also have other, more exotic inplace
      change methods not presented in this chapter, such as setdefault. </p>

  <h4>5: Why Might You use a Dictionary instead of a list?</h4>
    <p> - My Answer: Lots of reasons. Readability and usability for one, indexing
      can be not that useful depending on it's application. Dictionaries can also
      be used for simple database creation, which lists can do as well, but allowing
      more data assocations. Look basically because both of them can be nested forever,
      you could concievably use either for most things, even a list alongside a set of
      global variables that mapped to the indexes... but really a dictionary is going
      to be the best choice when you need to index a set of values with something other
      than integers, but where those values don't need to be ordered.</p>
    <p> - Mark's Answer: Dictionaries are generally better when the data is labelled
      (a record with field names, for example); lists are best suited to collections
      of unlabeled items (such as all the files in a dictionary). Dictionary lookup
      is also usually quicker than searching a list, though this might vary per
      program. </p>
  
{% endblock %}
