{% block content %}
<h3> - Question 6:</h3>
<h4>What is 'polymorphism' and why do you care?</h4>
<p> - My Answer: It's Python's ability to have an operation have a different
  affect on different object types, eg + is addition for numbers and concatenation
  for strings. I care because I need to know them otherwise I'll start breaking
  things, but also it's why python is powerful and flexible, and it's smart
  because it knows what kind of objects things are an acts accordingly. </p>
<p> - Mark's Answer: "Polymorphism" meands that th meaning of an operation (like
  a +) depend on the objects being operated on. This turns out to be a key idea
  (perhaps the key idea) behind using Python well - not constraining code to
  specific types makes that code automatically applicable to many tyes. </p>
{% endblock %}
