{% block content %}
<h3> - Question 3:</h3>
<h4>What does "immutable" mean, and which three of Python's core types are considered immutable?</h4>
<p> - My Answer: Immutable just means that an object cannot be altered in place.
  It can be operated on, and the changed version of the object returned as a
  function's output, and returned to a variable, but the object itself persists,
  unless the variable is overwritten. Strings, Tuples and sets (???) are immutable. </p>
<p> - Mark's Answer: An immutable object is an object that cannot be changed
  after it is created. Numbers, strings and tuples in Python fall into this
  categoy. While you cannot change an immtable obect in-place you can always
  make a new one by running an expression. </p>
{% endblock %}
