{% block content %}
<h3> - Question 4:</h3>
<h4>Name four operations that change a dictionary object in place.</h4>
<p> - My Answer: A straight assingment (dict['keyA'] = 'valueA'), delete
  (del dict['keyX']), clear (dict.clear()) pop (dict.pop('value'))</p>
<p> - Mark's Answer: Dictionaries are primarily changed by assignment to a new
  or existing key, which creates or changes the key's entry in the table. Also
  the del statement deletes a key's entry, the dictionary update method merges
  one dictionary into another in place, and the D.pop(key) removes a key and
  returns the value it had. Dictionaries also have other, more exotic inplace
  change methods not presented in this chapter, such as setdefault. </p>
{% endblock %}
