{% block content %}
<h3> - Question 3:</h3>
<h4>Name four operations that change a list object in place.</h4>
<p> - My Answer: A simple assignment by index (list[5] = X), the slice method
  (list[x:y]), pop (list.pop(-1)) and append (list.append('spam')) will all do
  that. </p>
<p> - Mark's Answer: The append and extend methods grow a list in place, the sort
  and reverse methods order and reverse lists, the insert method inserts an item
  at an offset, the remove and pop methods delete from a list by value and by
  position, the del statement deletes an item or slice, and index and slice
  assignment statements replace an item or entire section. Pick any four of
  these for the quiz.</p>
{% endblock %}
